In [2]:
import os
import pandas as pd

path = 'data'

In [3]:
genome_scores = pd.read_csv(os.path.join(path, 'genome-scores.csv'))
genome_tags = pd.read_csv(os.path.join(path,'genome-tags.csv'))
links = pd.read_csv(os.path.join(path,'links.csv'))
movies = pd.read_csv(os.path.join(path,'movies.csv'))
ratings = pd.read_csv(os.path.join(path,'ratings.csv'))
tags = pd.read_csv(os.path.join(path,'tags.csv'))

In [4]:
# genome_scores.head()

In [5]:
# genome_tags.head()

In [6]:
# links.head()

In [7]:
# movies.head()

In [17]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [9]:
# tags.head()

In [10]:
temp = genome_scores.groupby('movieId').quantile(0.9).iloc[:,1]

In [11]:
# temp

In [14]:
def addTagThreshold(x):
    if int(x['movieId']) in temp.index:
        return temp[int(x['movieId'])]
    return 2
        
data = movies.copy()
data['tagThreshold'] = data.apply(addTagThreshold, axis=1)
new_movies = data[data.tagThreshold != 2]

In [19]:
data = ratings.copy()
data['tagThreshold'] = data.apply(addTagThreshold, axis=1)
new_rating = data[data.tagThreshold != 2]

In [20]:
new_rating

          userId  movieId  rating   timestamp  tagThreshold
0              1      307     3.5  1256677221      0.390975
1              1      481     3.5  1256677456      0.374775
2              1     1091     1.5  1256677471      0.270775
3              1     1257     4.5  1256677460      0.410425
4              1     1449     4.5  1256677264      0.381475
...          ...      ...     ...         ...           ...
27753439  283228     8542     4.5  1379882795      0.429425
27753440  283228     8712     4.5  1379882751      0.381300
27753441  283228    34405     4.5  1379882889      0.437125
27753442  283228    44761     4.5  1354159524      0.513825
27753443  283228    54286     4.5  1354159718      0.441550

[27417362 rows x 5 columns]