In [1]:
import os
import pandas as pd

path = 'data'

In [2]:
genome_scores = pd.read_csv(os.path.join(path, 'genome-scores.csv'))
genome_tags = pd.read_csv(os.path.join(path,'genome-tags.csv'))
links = pd.read_csv(os.path.join(path,'links.csv'))
movies = pd.read_csv(os.path.join(path,'movies.csv'))
ratings = pd.read_csv(os.path.join(path,'ratings.csv'))
tags = pd.read_csv(os.path.join(path,'tags.csv'))

In [12]:
genome_scores.head(100)

    movieId  tagId  relevance
0         1      1    0.02900
1         1      2    0.02375
2         1      3    0.05425
3         1      4    0.06875
4         1      5    0.16000
..      ...    ...        ...
95        1     96    0.07450
96        1     97    0.08250
97        1     98    0.05800
98        1     99    0.13225
99        1    100    0.10550

[100 rows x 3 columns]

In [11]:
genome_tags.head(50)

    tagId                     tag
0       1                     007
1       2            007 (series)
2       3            18th century
3       4                   1920s
4       5                   1930s
5       6                   1950s
6       7                   1960s
7       8                   1970s
8       9                   1980s
9      10            19th century
10     11                      3d
11     12                    70mm
12     13                     80s
13     14                    9/11
14     15                 aardman
15     16         aardman studios
16     17                abortion
17     18                  absurd
18     19                  action
19     20           action packed
20     21              adaptation
21     22       adapted from:book
22     23      adapted from:comic
23     24       adapted from:game
24     25               addiction
25     26             adolescence
26     27                adoption
27     28                adultery
28     29               adventure
29     30            affectionate
30     31                 afi 100
31     32        afi 100 (laughs)
32     33  afi 100 (movie quotes)
33     34                  africa
34     35               afterlife
35     36                   aging
36     37                    aids
37     38                airplane
38     39                 airport
39     40                  alaska
40     41                alcatraz
41     42              alcoholism
42     43                   alien
43     44          alien invasion
44     45                  aliens
45     46                allegory
46     47               almodovar
47     48      alone in the world
48     49               alter ego
49     50       alternate endings

In [11]:
links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [12]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [13]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264

In [4]:
tags.head()

   userId  movieId           tag   timestamp
0      14      110          epic  1443148538
1      14      110      Medieval  1443148532
2      14      260        sci-fi  1442169410
3      14      260  space action  1442169421
4      14      318  imdb top 250  1442615195

In [5]:
import numpy as np
import pandas as pd

data = pd.read_csv('data/ratings.csv')
data.head(10)

   userId  movieId  rating   timestamp
0       1      307     3.5  1256677221
1       1      481     3.5  1256677456
2       1     1091     1.5  1256677471
3       1     1257     4.5  1256677460
4       1     1449     4.5  1256677264
5       1     1590     2.5  1256677236
6       1     1591     1.5  1256677475
7       1     2134     4.5  1256677464
8       1     2478     4.0  1256677239
9       1     2840     3.0  1256677500

In [7]:
movie_titles_genre = pd.read_csv("data/movies.csv")
movie_titles_genre.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [9]:
data = data.merge(movie_titles_genre,on='movieId', how='left')
data.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,307,3.5,1256677221,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
1,1,481,3.5,1256677456,Kalifornia (1993),Drama|Thriller
2,1,1091,1.5,1256677471,Weekend at Bernie's (1989),Comedy
3,1,1257,4.5,1256677460,Better Off Dead... (1985),Comedy|Romance
4,1,1449,4.5,1256677264,Waiting for Guffman (1996),Comedy
5,1,1590,2.5,1256677236,Event Horizon (1997),Horror|Sci-Fi|Thriller
6,1,1591,1.5,1256677475,Spawn (1997),Action|Adventure|Sci-Fi|Thriller
7,1,2134,4.5,1256677464,Weird Science (1985),Comedy|Fantasy|Sci-Fi
8,1,2478,4.0,1256677239,¡Three Amigos! (1986),Comedy|Western
9,1,2840,3.0,1256677500,Stigmata (1999),Drama|Thriller

In [13]:
Average_ratings = pd.DataFrame(data.groupby('title')['rating'].mean())
Average_ratings.head(10)

                                                      rating
title
"Great Performances" Cats (1998)                    2.815556
#1 Cheerleader Camp (2010)                          2.777778
#Captured (2017)                                    2.500000
#Horror (2015)                                      2.078947
#SCREAMERS (2016)                                   2.500000
#chicagoGirl: The Social Network Takes on a Dic...  3.000000
#realityhigh (2017)                                 3.361111
$ (Dollars) (1971)                                  2.781250
$1,000 on the Black (1966)                          3.333333
$100,000 for Ringo (1965)                           2.500000

In [14]:
movie_user = data.pivot_table(index='userId',columns='title',values='rating')

ValueError: Unstacked DataFrame is too big, causing int32 overflow

In [15]:
from sklearn.cluster import AgglomerativeClustering

In [16]:
import numpy as np

In [17]:
X = np.array([[1, 2], [1, 4], [1, 0],[4, 2], [4, 4], [4, 0]])

In [18]:
clustering = AgglomerativeClustering().fit(X)

In [19]:
clustering

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
                        connectivity=None, distance_threshold=None,
                        linkage='ward', memory=None, n_clusters=2)

In [20]:
clustering.labels_

array([1, 1, 1, 0, 0, 0], dtype=int64)